<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <!-- Menambahkan link ke berkas CSS -->
  <link rel="stylesheet" href="login.css">
</head>
<body>

<!-- Konten halaman login -->
<div class="login-form">
  <h1>Login</h1>
  <form id="login-form" action="/login" method="post">
    <input type="text" id="username" name="username" placeholder="Username"><br>
    <input type="password" id="password" name="password" placeholder="Password"><br>
    <button type="submit" class="login-btn">Login</button>
  </form>
  <a href="/signup" class="signup-link">Don't have an account? Sign up</a>
</div>

<!-- Menambahkan script JavaScript jika diperlukan -->

</body>
</html>
