/* styles.css */

/* Styling untuk konten halaman login */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  .login-btn {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .login-btn {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #2980b9;
  }
  
  .signup-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
  }
  
  /* Styling untuk halaman sign-up */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  