<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pertandingan Liga Primer</title>
  <link rel="stylesheet" href="styles.css"> <!-- Memuat file CSS terpisah -->
</head>
<body>

  <nav class="navbar">
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="matches.html">Match</a></li>
      <li><a href="standings.html">Klasemen</a></li>
      <li><a href="teams.html">Team</a></li>
    </ul>
    <button class="logout-btn">Log Out</button>
  </nav>

  <div class="content">
    <div class="container">
      <h1>Pertandingan Liga Primer</h1>

      <!-- Konten Matches -->
      <section id="matches" class="grid-container">
        <!-- Data pertandingan akan ditampilkan di sini -->
      </section>
      
    </div>
  </div>

  <script src="script.js"></script> <!-- Memuat file JavaScript terpisah -->
  <script>
    const logoutBtn = document.querySelector('.logout-btn');
  
  logoutBtn.addEventListener('click', () => {
    fetch('/logout', {
      method: 'POST'
    })
    .then(response => {
      if (response.redirected) {
        window.location.href = response.url; // Redirect ke halaman login setelah logout
      }
    })
    .catch(error => {
      console.error('Error logging out:', error);
      // Handle error jika ada
    });
  });
  </script>
</body>
</html>
